body,
html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

img {
	max-width: 100%;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: block;
	@include adaptive(767) {
		display: none;
	}
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
	border-radius: 13px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
	font-family: Jost;
	min-width: 320px;
	min-height: 100vh;
	font-size: 22px;
	background-color: $background;
	line-height: 150%;
	font-weight: 400;
	overflow-x: hidden;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.link {
		text-decoration: none;
		color: $text-primary;
		&:hover {
			color: $primary-hover-text;
	}
}

.loading {
	position: absolute;
	inset: 0;
}

.bold {
	font-weight: 600;
}
